[user]
	email = tatto2k@gmail.com
	name = ajramos
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/
[core]
	autocrlf = false
  safecrlf = false
  ignorecase = false
  excludesfile = ~/.gitignore
[color]
  ui = true
